<mat-card>
  <mat-card-title>
    {{title}}
  </mat-card-title>
  <mat-card-content>
    <form name="lumberCategoryForm" #myForm="ngForm" (ngSubmit)="save()">
      <div class="form-container">
        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="lumberCategoryClone.name" name="name" required />
        </mat-form-field>
      </div>
      <div class="form-container">
        <mat-form-field>
          <mat-select placeholder="Sort Order" [(ngModel)]="lumberCategoryClone.sortOrder" name="sortOrder">
            <mat-option *ngFor="let o of sortOrderOptions" [value]="o">{{o}}</mat-option>
          </mat-select>
          <!-- <input matInput placeholder="Sort Order" [(ngModel)]="lumberCategoryClone.sortOrder" name="sortOrder" required /> -->
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button color="accent">Save</button>
    </form>
  </mat-card-content>
</mat-card>