<mat-card>
  <mat-card-title>
    <div class="menu-list">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu>
        <button mat-menu-item (click)="routerService.showCatalog()">
          <i class="fas fa-arrow-left"></i> Back to Catalog
        </button>
      </mat-menu>
      <span>{{title}}</span>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div [hidden]="lumberCategoryService.lumberCategory.id == null"> <button mat-menu-item [matMenuTriggerFor]="subCategoryMenu">
        <i class="fas fa-list"></i> Sub Categories
      </button>
      <mat-menu #subCategoryMenu>
        <button mat-menu-item (click)="routerService.showCatalogLumberSubCategory(lumberSubCategoryService.lumberCategory.id)">
          <i class="fas fa-plus"></i> Add
        </button>
        <div *ngFor="let c of lumberSubCategoryService.lumberSubCategories">
          <button mat-menu-item (click)="routerService.showCatalogLumberSubCategory(c.id)">
            {{ c.name }}
          </button>
        </div>
      </mat-menu>
    </div>
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>