<mat-card>
  <mat-card-title>
    <div class="menu-list">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu>
        <span [hidden]="lumberCategoryService.lumberCategory.id == null">
          <button mat-menu-item (click)="routerService.showEditLumberCategory(lumberCategoryService.lumberCategory.id)">
            <i class="fas fa-edit"></i> Edit
          </button>
          <button mat-menu-item [matMenuTriggerFor]="subCategoryMenu"><!-- (click)="routerService.showLumberSubCategoryCatalog(lumberCategoryService.lumberCategory.id)"> -->
            <i class="fas fa-list"></i> Sub Categories
          </button>
        </span>
        <button mat-menu-item (click)="routerService.showCatalog()">
          <i class="fas fa-arrow-left"></i> Back
        </button>
        <mat-menu #subCategoryMenu>
          <div *ngFor="let c of lumberSubCategoryService.lumberSubCategories">
            <button mat-menu-item (click)="routerService.showCatalogLumberSubCategory(c.lumberCategoryId, c.id)">
              {{ c.name }}
            </button>
          </div>
        </mat-menu>
      </mat-menu>
      <span>{{title}}</span>
    </div>
  </mat-card-title>
  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>