// a.logo, a.logo:hover, a.logo:active {
//     background: url(app/images/logo.jpg) no-repeat top left;
//     background-size: 100px 50px;
//     display: block;
//     width: 100px;
//     height: 50px;
//     text-indent: -9999px; /* hides the link text */
// }
    
.spacer {
    _webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.page-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
}

.page-sidenav {
    display: flex;
    align-items: top;
    justify-content: top;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}