<ng-container>
    <mat-toolbar color="primary" class="page-header">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>{{ routerService.title }}</span> 
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu>
            <button mat-menu-item>
                <mat-icon>fingerprint</mat-icon>
                <span>Login</span>
            </button>
        </mat-menu>
    </mat-toolbar>
    <mat-sidenav-container class="page-container">
        <mat-sidenav #sidenav class="page-sidenav" fixedInViewport="false" mode="side" opened="false">
            <div class="menu-list">
                <div>
                    <!-- @if (User.IsInRole(Role.InventoryMaster) || User.IsInRole(Role.InventoryViewer) || User.IsInRole(Role.WarehouseCrew)) { -->
                    <button mat-menu-item (click)="routerService.showInventory()">
                        <mat-icon>assignment</mat-icon>
                        <span>Inventory</span>
                    </button>
                </div>
                <div>
                    <!-- @if (User.IsInRole(Role.InventoryMaster) || User.IsInRole(Role.WarehouseCrew)) { -->
                    <button mat-menu-item (click)="routerService.showPurchaseOrderList()">
                        <mat-icon>trending_flat</mat-icon>
                        <span>Incoming</span>
                    </button>
                </div>
                <div>
                    <button mat-menu-item (click)="routerService.showSalesOrderList()">
                        <mat-icon>attach_money</mat-icon>
                        <span>Sales Orders</span>
                    </button>
                </div>
                <div>
                    <!-- @if (User.IsInRole(Role.InventoryMaster)) { -->
                    <button mat-menu-item (click)="routerService.showAudit()">
                        <mat-icon>assignment_turned_in</mat-icon>
                        <span>Audit</span>
                    </button>
                </div>
                <div>
                    <button mat-menu-item (click)="routerService.showCatalog()">
                        <mat-icon>library_books</mat-icon>
                        <span>Catalog</span>
                    </button>
                </div>
                <div>
                    <button mat-menu-item (click)="routerService.showUserList()">
                        <mat-icon>people</mat-icon>
                        <span>Users</span>
                    </button>
                </div>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <section class="content-wrapper clear-fix">
                <router-outlet></router-outlet>
            </section>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <mat-toolbar color="primary" class="page-footer">
        <p>
            &copy; {{year}} - Thermory
            <i class="fas fa-cog fa-spin"></i>
            <i class="fas fa-dolly"></i>
            <i class="fas fa-truck"></i>
            <i class="fas fa-ship"></i>
        </p>
    </mat-toolbar>
</ng-container>