<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="content-wrapper">
    <div class="float-left">
      <!-- <p class="site-title">@Html.ActionLink("Thermory", "Index", "Home", null, new { @class = "logo" })</p> -->
    </div>
    <div class="float-right">
      <section id="login">
        <!-- @Html.Partial("_LoginPartial") -->
      </section>
      <!-- @if (User.Identity.IsAuthenticated) { -->
        <nav class="navbar navbar-default" style="margin-bottom: 10px;">
          <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div>
              <ul class="nav navbar-nav">
                <!-- @if (User.IsInRole(Role.InventoryMaster) || User.IsInRole(Role.InventoryViewer) || User.IsInRole(Role.WarehouseCrew)) { -->
                  <li role="presentation"><a (click)="showInventory()">Inventory</a></li>
                  <!-- } -->
                  <!-- @if (User.IsInRole(Role.InventoryMaster) || User.IsInRole(Role.WarehouseCrew)) { -->
                    <li role="presentation"><a (click)="showPurchaseOrderList()">Incoming</a></li>
                    <li role="presentation"><a (click)="showSalesOrderList()">Sales Orders</a></li>
                    <!-- } -->
                    <!-- @if (User.IsInRole(Role.InventoryMaster)) { -->
                      <li role="presentation"><a (click)="showAudit()">Audit</a></li>
                      <li role="presentation"><a (click)="showCatalog()">Catalog</a></li>
                      <li role="presentation"><a (click)="showUserList()">Users</a></li>
                      <!-- } -->
                    </ul>
                  </div>
                </div>
              </nav>
              <!-- } -->
            </div>
          </div>
        </header>
        <div style="text-align:center">
          <router-outlet></router-outlet>
        </div> 