<mat-card>
  <mat-card-title>
    <div class="menu-list">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu>
        <span [hidden]="lumberSubCategoryService.lumberSubCategory.id == null">
          <button mat-menu-item (click)="routerService.showEditLumberSubCategory(lumberSubCategoryService.lumberCategory.id, lumberSubCategoryService.lumberSubCategory.id)">
            <i class="fas fa-edit"></i> Edit
          </button>
          <button mat-menu-item [matMenuTriggerFor]="typeMenu">
            <i class="fas fa-list"></i> Types
          </button>
        </span>
        <button mat-menu-item (click)="routerService.showCatalogLumberCategory(lumberSubCategoryService.lumberCategory.id)">
          <i class="fas fa-arrow-left"></i> Back to {{lumberSubCategoryService.lumberCategory.name}}
        </button>
        <button mat-menu-item (click)="routerService.showCatalog()">
          <i class="fas fa-arrow-left"></i> Back to Catalog
        </button>
        <mat-menu #typeMenu>
          <!-- <div>
            <button mat-menu-item (click)="routerService.showCatalogLumberSubSubCategory(lumberSubSubCategoryService.lumberSubCategory.id)">
              <i class="fas fa-plus"></i> Add
            </button>
          </div>
          <div *ngFor="let c of lumberSubSubCategoryService.lumberSubCategories">
            <button mat-menu-item (click)="routerService.showCatalogLumberSubSubCategory(c.lumberSubCategoryId, c.id)">
              {{ c.name }}
            </button>
          </div> -->
        </mat-menu>
      </mat-menu>
      <span>{{lumberSubCategoryService.lumberCategory.name}}: {{title}}</span>
    </div>
  </mat-card-title>
  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>