<mat-toolbar color="primary">
  <span>Thermory</span> 
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>fingerprint</mat-icon>
      <span>Login</span>
    </button>
    <button mat-menu-item (click)="showInventory()">
      <mat-icon>assignment</mat-icon>
      <span>Inventory</span>
    </button>
    <button mat-menu-item (click)="showPurchaseOrderList()">
      <mat-icon>trending_flat</mat-icon>
      <span>Incoming</span>
    </button>
    <button mat-menu-item (click)="showSalesOrderList()">
      <mat-icon>attach_money</mat-icon>
      <span>Sales Orders</span>
    </button>
    <button mat-menu-item (click)="showAudit()">
      <mat-icon>assignment_turned_in</mat-icon>
      <span>Audit</span>
    </button>
    <button mat-menu-item (click)="showCatalog()">
      <mat-icon>library_books</mat-icon>
      <span>Catalog</span>
    </button>
    <button mat-menu-item (click)="showUserList()">
      <mat-icon>people</mat-icon>
      <span>Users</span>
    </button>
  </mat-menu>
</mat-toolbar>
<!-- <header>
  <div class="content-wrapper">
    <div class="float-left">
      <p class="site-title"><a (click)="showHome()" class="logo"></a></p>
    </div>
    <div class="float-right"> -->
      <!-- @if (User.Identity.IsAuthenticated) { -->
      <!-- <nav class="navbar navbar-expand-lg" style="margin-bottom: 10px;">
        <div class="container-fluid"> -->
          <!-- Collect the nav links, forms, and other content for toggling -->
          <!-- <div>
            <ul class="nav navbar-nav"> -->
              <!-- @if (User.IsInRole(Role.InventoryMaster) || User.IsInRole(Role.InventoryViewer) || User.IsInRole(Role.WarehouseCrew)) { -->
              <!-- <li class="nav-item"><a class="nav-link" (click)="showInventory()">Inventory</a></li> -->
              <!-- @if (User.IsInRole(Role.InventoryMaster) || User.IsInRole(Role.WarehouseCrew)) { -->
              <!-- <li class="nav-item"><a class="nav-link" (click)="showPurchaseOrderList()">Incoming</a></li>
              <li class="nav-item"><a class="nav-link" (click)="showSalesOrderList()">Sales Orders</a></li> -->
              <!-- @if (User.IsInRole(Role.InventoryMaster)) { -->
              <!-- <li class="nav-item"><a class="nav-link" (click)="showAudit()">Audit</a></li>
              <li class="nav-item"><a class="nav-link" (click)="showCatalog()">Catalog</a></li>
              <li class="nav-item"><a class="nav-link" (click)="showUserList()">Users</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header> -->
