html {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #333;
    font-family: "futura-pt-1, Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
    cursor: pointer;
}

a:link, a:visited,
a:active, a:hover {
    color: #333;
}

a:hover {
    background-color: #c7d1d6;
}

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

h5 a:link, h5 a:visited, h5 a:active {
    padding: 0;
    text-decoration: none;
}


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 1170px;
}

#body {
    clear: both;
    padding-bottom: 35px;
}

.main-content {
    background: url("/app/images/accent.png") no-repeat;
    padding-left: 10px;
    padding-top: 30px;
}

.featured + .main-content {
    background: url("app/images/heroAccent.png") no-repeat;
}

header .content-wrapper {
    padding-top: 0;
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 20px;
    border-top: solid 1px lightgray;
    padding: 5px 0 5px 0;
}



/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

#login a {
    background-color: #d3dce0;
    margin-left: 10px;
    margin-right: 3px;
    padding: 2px 3px;
    text-decoration: none;
}

#login a.username {
    background: none;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

#login ul {
    margin: 0;
}

#login li {
    display: inline;
    list-style: none;
}


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
    padding-left: 15px;
}

ul#menu li a {
    background: none;
    color: #999;
    text-decoration: none;
}

ul#menu li a:hover {
    color: #333;
    text-decoration: none;
}


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

.featured .content-wrapper {
    background-color: #ff8c00;
    background-image: -ms-linear-gradient(#ffaa55 100%, #ff8c00 0);
    background-image: -o-linear-gradient(#ffaa55 100%, #ff8c00 0);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ff8c00), color-stop(1, #ffaa55));
    background-image: -webkit-linear-gradient(#ffaa55 100%, #ff8c00 0);
    background-image: linear-gradient(#ffaa55 100%, #ff8c00 0);
    color: #3e5667;
    padding: 10px 40px 10px 40px;
}

.featured hgroup.title h1, .featured hgroup.title h2 {
    color: #fff;
}

.featured p {
    font-size: 1.1em;
}

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

ol.round li {
    margin: 25px 0;
    padding-left: 45px;
}

ol.round li.zero {
    background: url("app/images/orderedList0.png") no-repeat;
}

ol.round li.one {
    background: url("app/images/orderedList1.png") no-repeat;
}

ol.round li.two {
    background: url("app/images/orderedList2.png") no-repeat;
}

ol.round li.three {
    background: url("app/images/orderedList3.png") no-repeat;
}

ol.round li.four {
    background: url("app/images/orderedList4.png") no-repeat;
}

ol.round li.five {
    background: url("app/images/orderedList5.png") no-repeat;
}

ol.round li.six {
    background: url("app/images/orderedList6.png") no-repeat;
}

ol.round li.seven {
    background: url("app/images/orderedList7.png") no-repeat;
}

ol.round li.eight {
    background: url("app/images/orderedList8.png") no-repeat;
}

ol.round li.nine {
    background: url("app/images/orderedList9.png") no-repeat;
}

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    background: url("app/images/bullet.png") no-repeat 0 50%;
    padding: 2px 0 2px 20px;
}

.label {
    font-size: 14px;
    font-weight: 500;
    border: thin solid #aaa;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

#loginForm .validation-error {
    display: block;
    margin-left: 15px;
}

#loginForm .validation-summary-errors ul {
    margin: 0;
    padding: 0;
}

#loginForm .validation-summary-errors li {
    display: inline;
    list-style: none;
    margin: 0;
}

#loginForm input {
    width: 250px;
}

#loginForm input[type="checkbox"],
#loginForm input[type="submit"],
#loginForm input[type="button"],
#loginForm button {
    width: auto;
}

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

#socialLoginForm h2 {
    margin-bottom: 5px;
}

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

fieldset legend {
    display: none;
}

fieldset ol {
    padding: 0;
    list-style: none;
}

fieldset ol li {
    padding-bottom: 5px;
}

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

input:focus, textarea:focus {
    border: 1px solid #7ac0da;
}

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="submit"],
input[type="button"],
button {
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
}

td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

th a {
    display: block;
    position: relative;
}

th a:link, th a:visited, th a:active, th a:hover {
    color: #333;
    font-weight: 600;
    text-decoration: none;
    padding: 0;
}

th a:hover {
    color: #000;
}

th.asc a, th.desc a {
    margin-right: .75em;
}

th.asc a:after, th.desc a:after {
    display: block;
    position: absolute;
    right: 0em;
    top: 0;
    font-size: 0.75em;
}

th.asc a:after {
    content: '▲';
}

th.desc a:after {
    content: '▼';
}

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {
    
    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }
    
    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }
    
    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }
    
    #login ul {
        margin: 5px 0;
        padding: 0;
    }
    
    #login li {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    #login a {
        background: none;
        color: #999;
        font-weight: 600;
        margin: 2px;
        padding: 0;
    }
    
    #login a:hover {
        color: #333;
    }
    
    /* menu */
    nav {
        margin-bottom: 5px;
    }
    
    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    ul#menu li {
        margin: 0;
        padding: 0;
    }
    
    
    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }
    
    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .featured .content-wrapper {
        padding: 10px;
    }
    
    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }
    
    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }
    
    ol.round li {
        padding-left: 10px;
        margin: 25px 0;
    }
    
    ol.round li.zero,
    ol.round li.one,
    ol.round li.two,
    ol.round li.three,
    ol.round li.four,
    ol.round li.five,
    ol.round li.six,
    ol.round li.seven,
    ol.round li.eight,
    ol.round li.nine {
        background: none;
    }
    
    /* features */
    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }
    
    section.feature img {
        color: #999;
        content: attr(alt);
        font-size: 1.5em;
        font-weight: 600;
    }
    
    /* forms */
    input {
        width: 90%;
    }
    
    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }
    
    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }
    
    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }
    
    
    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }
    
    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }
    
    footer p {
        margin: 0;
    }
}

a.logo, a.logo:hover, a.logo:active {
    background: url(app/images/logo.jpg) no-repeat top left;
    background-size: 164px 80px;
    display: block;
    width: 164px;
    height: 80px;
    text-indent: -9999px; /* hides the link text */
}

/*Inventory Table*/
table.inventory {
    font-family: arial;
}

table.inventory td {
    white-space: nowrap;
}

tr.metricHeading {
    font-size: 10pt;
}

tr.englishHeading {
    font-size: 12pt;
    font-weight: bold;
}

div.headingWidth {
    width: 137px;
    overflow: hidden;
    display: block;
}

td.subCategoryUnit {
    text-align: right;
    width: 62px;
}

td.subCategoryDimensions {
    width: 75px;
}

td.subCategoryCellPadding {
    padding-left: 8px;
}

td.subCategoryLength {
    width: 76px;
}

td.productType {
    font-size: 10pt;
}

td.productTypeHeading {
    vertical-align: middle;
    text-align: center;
    background-color: #f79646;
}

td.productTypeStatistic {
    text-align: right;
}

td.productTypeTally {
    background-color: lightgray;
}

td.totalLinearFeet {
    vertical-align: middle;
    text-align: center;
    background-color: #cc99ff;
}

td.totalSquareFeet {
    background-color: #ccffff;
}

td.totalPieceHeading {
    font-weight: bold;
}

.noLength {
    margin-top: 12px;
}

.btn-primary {
    color: #fff;
    background-color: #90522d;
    border-color: #8b4513;
    background-image: -webkit-linear-gradient(#d2691e, #90522d);
    background-image: -moz-linear-gradient(#d2691e, #90522d);
    background-image: -ms-linear-gradient(#d2691e, #90522d);
    background-image: -o-linear-gradient(#d2691e, #90522d);
    background-image: linear-gradient(#d2691e, #90522d);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#d2691e', endColorstr='#90522d', GradientType=0);
}

.btn-primary:hover {
    color: #fff;
    background-color: #d2691e;
    border-color: #8b4513;
    background-image: -webkit-linear-gradient(#90522d, #d2691e);
    background-image: -moz-linear-gradient(#90522d, #d2691e);
    background-image: -ms-linear-gradient(#90522d, #d2691e);
    background-image: -o-linear-gradient(#90522d, #d2691e);
    background-image: linear-gradient(#90522d, #d2691e);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#90522d', endColorstr='#d2691e', GradientType=0);
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #d2691e;
    border-color: #90522d;
    background-image: -webkit-linear-gradient(#90522d, #d2691e);
    background-image: -moz-linear-gradient(#90522d, #d2691e);
    background-image: -ms-linear-gradient(#90522d, #d2691e);
    background-image: -o-linear-gradient(#90522d, #d2691e);
    background-image: linear-gradient(#90522d, #d2691e);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#90522d', endColorstr='#d2691e', GradientType=0);
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #d2691e;
    border-color: #90522d;
    background-image: -webkit-linear-gradient(#90522d, #d2691e);
    background-image: -moz-linear-gradient(#90522d, #d2691e);
    background-image: -ms-linear-gradient(#90522d, #d2691e);
    background-image: -o-linear-gradient(#90522d, #d2691e);
    background-image: linear-gradient(#90522d, #d2691e);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#90522d', endColorstr='#d2691e', GradientType=0);
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5b99ff;
    background-image: -webkit-linear-gradient(#5bc0de, #31b0d5);
    background-image: -moz-linear-gradient(#5bc0de, #31b0d5);
    background-image: -ms-linear-gradient(#5bc0de, #31b0d5);
    background-image: -o-linear-gradient(#5bc0de, #31b0d5);
    background-image: linear-gradient(#5bc0de, #31b0d5);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#31b0d5', GradientType=0);
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #5b99ff;
    background-image: -webkit-linear-gradient(#31b0d5, #5bc0de);
    background-image: -moz-linear-gradient(#31b0d5, #5bc0de);
    background-image: -ms-linear-gradient(#31b0d5, #5bc0de);
    background-image: -o-linear-gradient(#31b0d5, #5bc0de);
    background-image: linear-gradient(#31b0d5, #5bc0de);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#31b0d5', endColorstr='#5bc0de', GradientType=0);
}

.btn-info:active:hover, .btn-info.active:hover, .open > .dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open > .dropdown-toggle.btn-info:focus, .btn-info:active.focus, .btn-info.active.focus, .open > .dropdown-toggle.btn-info.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #5b99ff;
    background-image: -webkit-linear-gradient(#31b0d5, #5bc0de);
    background-image: -moz-linear-gradient(#31b0d5, #5bc0de);
    background-image: -ms-linear-gradient(#31b0d5, #5bc0de);
    background-image: -o-linear-gradient(#31b0d5, #5bc0de);
    background-image: linear-gradient(#31b0d5, #5bc0de);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#31b0d5', endColorstr='#5bc0de', GradientType=0);
}

.btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #5b99ff;
    background-image: -webkit-linear-gradient(#31b0d5, #5bc0de);
    background-image: -moz-linear-gradient(#31b0d5, #5bc0de);
    background-image: -ms-linear-gradient(#31b0d5, #5bc0de);
    background-image: -o-linear-gradient(#31b0d5, #5bc0de);
    background-image: linear-gradient(#31b0d5, #5bc0de);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#31b0d5', endColorstr='#5bc0de', GradientType=0);
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #ac2925;
    background-image: -webkit-linear-gradient(#d9534f, #c9302c);
    background-image: -moz-linear-gradient(#d9534f, #c9302c);
    background-image: -ms-linear-gradient(#d9534f, #c9302c);
    background-image: -o-linear-gradient(#d9534f, #c9302c);
    background-image: linear-gradient(#d9534f, #c9302c);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#d9534f', endColorstr='#c9302c', GradientType=0);
}

.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    background-image: -webkit-linear-gradient(#c9302c, #d9534f);
    background-image: -moz-linear-gradient(#c9302c, #d9534f);
    background-image: -ms-linear-gradient(#c9302c, #d9534f);
    background-image: -o-linear-gradient(#c9302c, #d9534f);
    background-image: linear-gradient(#c9302c, #d9534f);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#c9302c', endColorstr='#d9534f', GradientType=0);
}

.btn-danger:active:hover, .btn-danger.active:hover, .open > .dropdown-toggle.btn-danger:hover, .btn-danger:active:focus, .btn-danger.active:focus, .open > .dropdown-toggle.btn-danger:focus, .btn-danger:active.focus, .btn-danger.active.focus, .open > .dropdown-toggle.btn-danger.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    background-image: -webkit-linear-gradient(#c9302c, #d9534f);
    background-image: -moz-linear-gradient(#c9302c, #d9534f);
    background-image: -ms-linear-gradient(#c9302c, #d9534f);
    background-image: -o-linear-gradient(#c9302c, #d9534f);
    background-image: linear-gradient(#c9302c, #d9534f);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#c9302c', endColorstr='#d9534f', GradientType=0);
}

.btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    background-image: -webkit-linear-gradient(#c9302c, #d9534f);
    background-image: -moz-linear-gradient(#c9302c, #d9534f);
    background-image: -ms-linear-gradient(#c9302c, #d9534f);
    background-image: -o-linear-gradient(#c9302c, #d9534f);
    background-image: linear-gradient(#c9302c, #d9534f);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#c9302c', endColorstr='#d9534f', GradientType=0);
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5b99ff;
    background-image: -webkit-linear-gradient(#5cb85c, #449d44);
    background-image: -moz-linear-gradient(#5cb85c, #449d44);
    background-image: -ms-linear-gradient(#5cb85c, #449d44);
    background-image: -o-linear-gradient(#5cb85c, #449d44);
    background-image: linear-gradient(#5cb85c, #449d44);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5cb85c', endColorstr='#449d44', GradientType=0);
}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
    background-image: -webkit-linear-gradient(#449d44, #5cb85c);
    background-image: -moz-linear-gradient(#449d44, #5cb85c);
    background-image: -ms-linear-gradient(#449d44, #5cb85c);
    background-image: -o-linear-gradient(#449d44, #5cb85c);
    background-image: linear-gradient(#449d44, #5cb85c);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#449d44', endColorstr='#5cb85c', GradientType=0);
}

.btn-success:active:hover, .btn-success.active:hover, .open > .dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open > .dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open > .dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #5b99ff;
    background-image: -webkit-linear-gradient(#449d44, #5cb85c);
    background-image: -moz-linear-gradient(#449d44, #5cb85c);
    background-image: -ms-linear-gradient(#449d44, #5cb85c);
    background-image: -o-linear-gradient(#449d44, #5cb85c);
    background-image: linear-gradient(#449d44, #5cb85c);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#449d44', endColorstr='#5cb85c', GradientType=0);
}

.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #31b0d5;
    border-color: #5b99ff;
    background-image: -webkit-linear-gradient(#449d44, #5cb85c);
    background-image: -moz-linear-gradient(#449d44, #5cb85c);
    background-image: -ms-linear-gradient(#449d44, #5cb85c);
    background-image: -o-linear-gradient(#449d44, #5cb85c);
    background-image: linear-gradient(#449d44, #5cb85c);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#449d44', endColorstr='#5cb85c', GradientType=0);
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    background-image: -webkit-linear-gradient(#f0ad4e, #ec971f);
    background-image: -moz-linear-gradient(#f0ad4e, #ec971f);
    background-image: -ms-linear-gradient(#f0ad4e, #ec971f);
    background-image: -o-linear-gradient(#f0ad4e, #ec971f);
    background-image: linear-gradient(#f0ad4e, #ec971f);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f0ad4e', endColorstr='#ec971f', GradientType=0);
}

.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
    background-image: -webkit-linear-gradient(#ec971f, #f0ad4e);
    background-image: -moz-linear-gradient(#ec971f, #f0ad4e);
    background-image: -ms-linear-gradient(#ec971f, #f0ad4e);
    background-image: -o-linear-gradient(#ec971f, #f0ad4e);
    background-image: linear-gradient(#ec971f, #f0ad4e);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ec971f', endColorstr='#f0ad4e', GradientType=0);
}

.btn-warning:active:hover, .btn-warning.active:hover, .open > .dropdown-toggle.btn-warning:hover, .btn-warning:active:focus, .btn-warning.active:focus, .open > .dropdown-toggle.btn-warning:focus, .btn-warning:active.focus, .btn-warning.active.focus, .open > .dropdown-toggle.btn-warning.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #5b99ff;
    background-image: -webkit-linear-gradient(#ec971f, #f0ad4e);
    background-image: -moz-linear-gradient(#ec971f, #f0ad4e);
    background-image: -ms-linear-gradient(#ec971f, #f0ad4e);
    background-image: -o-linear-gradient(#ec971f, #f0ad4e);
    background-image: linear-gradient(#ec971f, #f0ad4e);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ec971f', endColorstr='#f0ad4e', GradientType=0);
}

.btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #31b0d5;
    border-color: #5b99ff;
    background-image: -webkit-linear-gradient(#ec971f, #f0ad4e);
    background-image: -moz-linear-gradient(#ec971f, #f0ad4e);
    background-image: -ms-linear-gradient(#ec971f, #f0ad4e);
    background-image: -o-linear-gradient(#ec971f, #f0ad4e);
    background-image: linear-gradient(#ec971f, #f0ad4e);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ec971f', endColorstr='#f0ad4e', GradientType=0);
}

.panel-default {
    border-color: #aaa;
}

.panel-default > .panel-heading {
    background-color: #e4e4e4;
    background-image: -webkit-linear-gradient(#f9f9f9, #e4e4e4);
    background-image: -moz-linear-gradient(#f9f9f9, #e4e4e4);
    background-image: -ms-linear-gradient(#f9f9f9, #e4e4e4);
    background-image: -o-linear-gradient(#f9f9f9, #e4e4e4);
    background-image: linear-gradient(#f9f9f9, #e4e4e4);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffe4e4e4', GradientType=0);
}

.has-error .form-control {
    background-color: yellow;
}

.glyphicon-default {
    color: #777;
}

.glyphicon-primary {
    color: #90522d;
}

.glyphicon-success {
    color: #5cb85c;
}

.glyphicon-info {
    color: #5bc0de;
}

.glyphicon-warning {
    color: #f0ad4e;
}

.glyphicon-danger {
    color: #d9534f;
}

.danger {
    background-color: #c9302c;
    border-color: #ac2925;
}

.packingSlipBottomBorder {
    border-bottom: solid thin black;
}

.packingSlipTopBorder {
    border-top: solid thin black;
}

.packingSlipSection {
    vertical-align: top;
    text-align: right;
    background-color: #ddd;
    border-right: solid thin black;
}

.packingSlipCell {
    padding: 0 5px 0 5px;
    font-weight: bold;
}

.packageNumber {
    font-size: 14pt;
}

.ui-datepicker {
    background-color: white;
    border: solid thin black;
}

.label-as-badge {
    border-radius: 1em;
}

.orderSummary {
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    padding: 5px 5px 5px 5px;
    background-color: #e9e9e9;
    border: thin solid #ccc;
    background-image: -webkit-linear-gradient(#f9f9f9, #e4e4e4);
    background-image: -moz-linear-gradient(#f9f9f9, #e4e4e4);
    background-image: -ms-linear-gradient(#f9f9f9, #e4e4e4);
    background-image: -o-linear-gradient(#f9f9f9, #e4e4e4);
    background-image: linear-gradient(#f9f9f9, #e4e4e4);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e4e4e4', GradientType=0);
}

.navbar-default {
    border-color: #aaa;
    background-image: -webkit-linear-gradient(#f9f9f9, #e4e4e4);
    background-image: -moz-linear-gradient(#f9f9f9, #e4e4e4);
    background-image: -ms-linear-gradient(#f9f9f9, #e4e4e4);
    background-image: -o-linear-gradient(#f9f9f9, #e4e4e4);
    background-image: linear-gradient(#f9f9f9, #e4e4e4);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e4e4e4', GradientType=0);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    font-weight: bold;
    border-color: #aaa #aaa #fff;
    background-color: #fff;
    background-image: none;
    filter: none;
}

.nav-tabs > li > a:hover {
    border-color: #aaa #aaa #fff;
    background-color: #fff;
    background-image: none;
    filter: none;
}

.nav-tabs > li > a {
    border-color: #aaa #aaa #ddd;
    background-color: #e4e4e4;
    background-image: -webkit-linear-gradient(#f9f9f9, #e4e4e4);
    background-image: -moz-linear-gradient(#f9f9f9, #e4e4e4);
    background-image: -ms-linear-gradient(#f9f9f9, #e4e4e4);
    background-image: -o-linear-gradient(#f9f9f9, #e4e4e4);
    background-image: linear-gradient(#f9f9f9, #e4e4e4);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e4e4e4', GradientType=0);
}

.w2ui-grid-toolbar {
    background-color: #e9e9e9;
    background-image: -webkit-linear-gradient(#f9f9f9, #e4e4e4);
    background-image: -moz-linear-gradient(#f9f9f9, #e4e4e4);
    background-image: -ms-linear-gradient(#f9f9f9, #e4e4e4);
    background-image: -o-linear-gradient(#f9f9f9, #e4e4e4);
    background-image: linear-gradient(#f9f9f9, #e4e4e4);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e4e4e4', GradientType=0);
}

.tab-content {
    border: thin solid;
    border-color: transparent #aaa #aaa #aaa;
    padding-left: 5px;
    padding-right: 5px;
}